---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Form from '../components/Form.astro';
import Countdown from '../components/Countdown.astro';
---

<Layout title="Blvck Spades Challenge — Render ATL 2025.">
	<main>
		<img src="/public/assets/blvck_spades-gold.png" alt="" width="800">
		<h1>Blvck Spades Badge Challenge</h1>
		<p class="intro">Welcome to the first Blvck Spades Badge Challenge at Render ATL 2025! Earn 40 challenge points today by completing today's badge tasks. Once you submit your task completion proof in the form below, stop by our booth and get your free BLVCK shirt!</p>
		<!-- Countdown to Render ATL 2025: <Countdown date="2025-10-10T10:00:00"></Countdown> -->
		<Badge title="Render ATL 2025" body="Check off as many tasks as you can from the list below and earn Challenge Points to level up your Blvck Spades status and get some perks."></Badge>
		<section>
		<Form></Form>	
		</section>	
	</main>
</Layout>

<style>
	.hidden {display: none;}

	.visually-hidden:not(:focus):not(:active) {
		clip: rect(0 0 0 0); 
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap; 
		width: 1px;
		}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1, h2 {
		font-family: serif;
		color: #847653;
		margin: 0;
	}

	p {
		font-size: 18px;
	}

	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: .5em;
	}

	.intro {
		font-size: 1.10em;
		text-align: center;
		width: 50ch;
		margin: 0 auto 3em;
	}
</style>
